.button-menu {
    width: 90%;
    height: auto;
    display: inline-block;
    border: 4pt solid #999;
    background: #444;
    border-radius: 0;
    
    margin-top: 1em;
    padding: 1em;
    font-weight: bold;
    color: grey;
    text-align: center;
}

.button-menu:visited {
    color: black;
    background: #ccc;
}

.button-menu:hover {
    background: #ccc;
    color: black;
}

.button-menu-void {
    width: 5%;
    height: calc(100%-4pt);
    display: inline-block;
    border-bottom: 4pt solid #999;
    border-radius: 0;
}

a {
  text-decoration: none;
}

.to-top {
	text-align: left;
	background: #444;
	color: #ccc;
}

.to-top:visited {
	color: #ccc;
}

.to-top:hover {
	color: #ccc;
}

.button-copy{
    float: right;
    width: 3em;
    height: 3em;
    margin-right: 1em;

    background-image:url(clipboard.png);
    background-size: 2.7em;
}

.button-copy:hover{
  background-color: #ccc;
  background-image:url(clipboardhover.png);
}

/* Style the button that is used to open and close the collapsible content */
.button-collapse {
  float: right;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-image:url(maximize.png);
  background-size: 2.65em;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.button-collapse:hover {
  background-color: #ccc;
}
