.button-menu {
    width: auto;
    border: 2pt solid #999;
    margin: 1pt;
    margin-bottom: 4pt;
    background: #234;
    border-radius: 3pt;

    font-size: 1.1em;
    font-weight: bold;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;

    text-align: center;
    text-decoration: none;


    border-radius: 3pt;
    color: grey;
}

a:visited {
  color: grey;
}


a:hover {
    color: black;
    background: #eff;
}

.button-copy{
    float: right;
    width: 2.1em;
    height: 2.1em;
    margin-right: 2pt;

    background-image:url(clipboard.png);
    background-size: 1.8em;
}

.button-copy:hover{
  background-color: #ccc;
  background-image:url(clipboardhover.png);
}

/* Style the button that is used to open and close the collapsible content */
.button-collape {
  float: right;
  width: 2.1em;
  height: 2.1em;
  margin-right: 1em;

  background-image:url(minimize.png);
  background-size: 1.75em;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.button-collape:hover {
  background-color: #ccc;
}
