.button-menu {
    width: 15em;
    height: auto;

    display: inline-block;
    border: 2pt solid #999;
    margin: 2pt;
    margin-bottom: 3pt;
    background: #234;
    border-radius: 3pt;

    font-weight: bold;
}

.to-top {
	text-align: left;
	background: #444;
	color: #ccc;
}

.to-top:hover {
	
	color: #ccc;
	background: #444;
}

.to-top:visited {
	color: #ccc;
}

.button-copy{
    float: right;
    width: 3em;
    height: 3em;
    margin-right: 1em;

    background-image:url(clipboard.png);
    background-size: 2.7em;
}

.button-copy:hover{
  background-color: #ccc;
  background-image:url(clipboardhover.png);
}

/* Style the button that is used to open and close the collapsible content */
.button-collapse {
  float: right;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-image:url(maximize.png);
  background-size: 2.65em;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.button-collapse:hover {
  background-color: #ccc;
}
