html {
    background-color: #ccc;
    overflow-y:scroll;
    
}

main {
    width: auto;
    height: auto;
    background-color: #ccc;
    text-align: center;
}

footer {
    text-align: center;
}

p {
  font-size: 1.25em;
}

header {
  height: auto;
  width: 100%;
  text-align: center;
  color: black;
  display: flex;
}

img {
  float: right;
  border: 4pt solid #999;
  display: inline-block;
  padding: 0;
  margin-left: 1em;
}

#wrapper {
  height: auto;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

#toc-wrapper {
  height: auto;
  width: 100%;
  float:top;
  display: flex;
  flex-wrap: wrap;
}

#toc {
  height: auto;
  width: 16em;
  padding: 1em;
  padding-top: 0;
  color: #ccc;
  background-color: #444;
}

#post-wrapper {
  height: auto;
  width: 100%;
  text-align: left;
  padding: 1em;
  padding-top: 0;
  color: #ccc;
  border: 4pt solid #999;
  border-top: 0;
  background-color: #444;
}

#post {
  height: auto;
  width: auto;
  float: center;
  padding: 0;
  color: #ccc;
  margin-top: 1em;
  border-top: 1pt solid #000;
  background-color: #444;
}

.posttext {
  overflow: hidden;
  display: none;
  margin-top: 1em;
}

#collapsableblock {
  height: auto;
  width:  auto;
  text-align: left;
  color: black;
  float: center;
  padding: 2em;
  padding-top: 0;
  border:4pt solid #999;
  background-color: #ccc;
  margin-bottom: 1em;
}

#collapsableblockheader{
  height: 3em;
  width: auto;
  text-align: center;
  padding-left: 1em;
  margin-left: 1em;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
