html {
    background-color: #ccc;
}

main {
    margin: 4pt auto;
    width: 100em;
    height: auto;
    background-color: #123;
    padding: 4pt;
    border: 8pt solid #444;
    border-radius: 6pt;
    box-shadow: 6pt 6pt 6pt 6pt #777;
    text-align: center;
}

footer {
    padding-top: 2em;
    text-align: center;
}

p {
  font-size: 1.2em;
}

#wrapper {
  height: auto;
  width: auto;

  display: flex;

  text-align: left;

  margin: 4pt;

  padding: 5pt;

  border:4pt solid #999;
  background-color: #333;
}

#textblock-instruction {
  height: auto;
  width: 80em;

  text-align: left;


  margin-left: 6pt;
  float: left;
  padding: 2em;
  color: #ccc;

  border:4pt solid #999;
  background-color: #444;
}

#textblock-code {
  height: auto;
  width: 40em;

  text-align: left;

  color: black;
  float: right;
  padding: 2pt;

  border:4pt solid #999;
  background-color: #ccc;
  margin-bottom: 1em;
}

#textblock-code-header{
  height: 4em;
  width: auto;
  text-align: left;
  margin-left: 1em;
}

#menu {
  height: 25em;
  width: 12em;

  float: left;
  padding: 4pt;

  border:4pt solid #999;
  background-color: #345;
}
